@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|VT323|Sunflower:300|Sigmar+One');


a {
  text-decoration: none;
  color: white;
}

.leftSide {
  border: 1px solid;
  background: linear-gradient(#ffcb6a 0%, #f0a733 50%, #f2a324 92%, #fcbc44);
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(000,000,000,0.5), inset 1px 2px 0px rgba(255,255,255,0.4);
  text-align: center;
  padding: 10px;
  margin-right: 20px;
}

.left, .right {
  font-family: 'VT323', monospace;
  font-size: 24px;
  margin: 5px;
}

.rightSide {
  display: inline-block;
  border: 1px solid;
  background: linear-gradient(#ffcb6a 0%, #f0a733 50%, #f2a324 92%, #fcbc44);
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(000,000,000,0.5), inset 1px 2px 0px rgba(255,255,255,0.4);
  text-align: center;
  padding: 10px;
}

.btn-host, .btn-join {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font-family: 'VT323', monospace;
  font-size: 16px;
  margin-left: 5%;
  margin: 15px;
  outline: 0;
  padding: 5px 10px;
  transition: all .1s linear;
}

.btn-host:active, .btn-join:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

h6 {
  font-family: 'VT323', monospace;
  font-size: 26px;
  text-decoration: underline;
}

.input-forms {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro {
  font-family: 'Sunflower', sans-serif;
  margin: 20px;
  text-align: center;
}

@media screen and (max-width: 540px) {
  .rightSide{
    margin-top: 20px;
  }
}
