@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|VT323|Sunflower:300|Sigmar+One');


header {
  font-family: 'VT323', monospace;
  font-size: 56px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.game-area {
  margin: 0 auto;
  width: 80%;
}

.autoBuild {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font-family: 'VT323', monospace;
  margin-left: 5%;
  margin: 15px;
  outline: 0;
  padding: 5px 10px;
  transition: all .1s linear;
}

.autoBuild:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}


.scores {
  display: block;
  float: right;
}

.playerScore {
  font-size: 4vw;
  font-family: 'VT323', monospace;
  margin-right: 10px;
}

.boxes {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .input-area {
    margin: 0 auto;
    width: 300px;
    float: none;
  }

  .location-name {
    font-size: 9vw;
  }
}

@media screen and (min-width: 680px) {
  .boxes {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 500px) {
  .playerScore {
    font-family: 'VT323', monospace;
    font-size: 18px;
    margin-right: 10px;
  }

  .scores {
    float: right;
    margin-right: 30px;
    display: inline-block;
  }
}

@media screen and (max-width: 375px) {
  header {
    font-family: 'VT323', monospace;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
