@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|VT323|Sunflower:300|Sigmar+One');

.waitingroom-table {
  font-family: 'VT323', monospace;
  font-size: 44px;
}

.waiting {
  font-family: 'VT323', monospace;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-size: 40px;
}

.waitingroom-table {
  margin-left: 30px;
}

tr {
  line-height: 60px;
}

.right-tr {
  font-size: 30px;
  padding-left: 10px;
}

.left-tr {
  font-size: 30px;
  padding: 10px;
  margin-right: 10px;
  text-decoration: underline;
}

.startgame-button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font-family: 'VT323', monospace;
  margin-left: 5%;
  margin: 15px;
  outline: 0;
  padding: 5px 10px;
  transition: all .1s linear;
}

.startgame-button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

.tooltip {
  font-family: 'VT323', monospace;
  margin-left: 30px;
  font-size: 18px;
}
