@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|VT323|Sunflower:300|Sigmar+One');

.modal {
  margin: 20vw;
  font-size: 30px;
  text-align: center;
  color: white;
}

.winner {
  font-size: 100px;
}

.counter {
  font-size: 30vw;
  font-family: 'VT323', monospace;
}

.btn {
  text-transform: capitalize;
  font-family: 'VT323', monospace;
  background: white;
  width: 100px;
  height: 30px;
  padding: 10px;
  border-radius: 3px;
  font-size: 12px;
}

.invis {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}
